:root {
  --main-title-font-size: 28px;
  --main-amenities-font-size: 24px;
  --main-text-font-size: 14px;
  --main-header-font-size: 12px;
  --main-link-font-size: 15px;
  --main-title-font-weight: 900;
  --main-text-font-weight: 400;
  --main-header-font-weight: 700;
  --main-title-line-height: 32px;
  --main-text-line-height: 25px;
  --main-header-line-height: 15px;
  --main-text-align: center;
  --main-header-color: #83888f;
  --main-color: #333d4b;
  --main-number-color: #fdd6ba;
  --main-background-color: #0e8784;
  --main-amenities-color: #fefcf7;
}